.header {
  background: #fff url(../images/background_header.svg) no-repeat center center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.header__title {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0 80px;
  max-width: 729px;
  font-weight: 500;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #3f96f3;
  display: block;
}
.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0 80px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  display: flex;
  align-items: flex-end;
  margin: auto 80px 40px 80px;
  justify-content: space-between;
}
.header__hours,
.header__address {
  margin: 0;
  padding: 0;
}
.header__paragraph {
  color: #6f6f6f;
}
